$global-link-color: #1e3044;
$global-link-hover-color: purple;
$base-link-hover-text-decoration: none;
$global-background: #FFF;
$global-primary-background: #1c2329;
$global-secondary-background: #1e3044;
$global-muted-background: #e1e9f0;

$global-color: #666;
