// Use ../node_modules/uikit/src/scss/variables.scss as guidelines
$global-link-color: #F87B00;
$global-link-hover-color: #1e3044;
$base-link-hover-text-decoration: none;
$global-background: #FFF;
$global-primary-background: #1c2329;
$global-secondary-background: #1e3044;
$global-muted-background: #e1e9f0;

$global-color: #666;
$base-heading-font-family: 'Roboto', sans-serif;
$global-font-family: 'Nunito Sans', sans-serif;
$global-font-size: 18px !default;
$nav-header-text-transform: none !default;